.mw{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--color-transparency);
  z-index: 1050;
  display: block;
  margin: 0;
  padding: 0;
}

.mw-dialog{
  position: relative;
  width: auto;
  margin: 10px;
  max-width: 300px;
  margin: 30px auto;
}

.mw-content{
  position: relative;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  background-color: var(--color-white);
  background-clip: padding-box;
  /* border:1px solid var(--color-darkest); */
  border-radius: 6px;
  outline: 0;
  width: 300px;
}

.mw-header{
  display: block;
  padding: 10px 10px 0px 10px;
}

.mw-title{
  border-bottom:1px solid var(--color-lightest);
}

.mw_btn-close{
  padding: 1px 5px 0;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  opacity: .5;
  text-decoration: none;
  top: 4px;
  right: 4px;
  position: absolute;
  cursor: pointer;
}

.mw_btn-close:focus,.mw_btn-close:hover{
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}

.mw-body{
  position: relative;
  flex: 1 1 auto;
  padding: 0px 15px 15px 15px;
  overflow: auto;
}
