@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap');

@import 'const.css';

/* // auth-bar \\ */
@import '../auth-bar.css';
@import '../auth-bar-input.css';
@import '../bar__content.css';
@import '../bar__footer.css';
@import '../bar__header.css';
/* \\ auth-bar // */

@import '../button-main.css';

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: var(--color-gray1);
} 
