.input-main {
  margin-top: 5px;
  width: 70%;
}
  
.input-main__label {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  width: 100%;

  /* color: var(--color-gray3); */
}

.input-main__input {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  
  outline: none;
  border: none;
  width: 100%;
  margin: 0 0 0 0;

}

.input_main-border {
  border-bottom: 1px solid var(--color-secondary);
}

.input_err-border {
  border-bottom: 1px solid var(--color-err);
}

