.anchor-to-go {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;  

  text-decoration: none;  
  margin-top: 10px;

  margin: 5px 5px 5px 5px;

  color: var(--color-gray3);

}

.anchor-to-go_icon {
  color: var(--color-gray3);
  font-size: 10px;
}