.input-gray5 {

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  margin: 5px 5px 5px 5px;
  
}

.input-gray5__label {
 
  color: var(--color-gray2);
  padding: 0px 5px 0px 0px;
  font-size: 15px;
 
}

.input-gray5__input {
  
  flex-grow: 1;
  background-color: var(--color-gray5);
  border: none;
  border-radius: 5px;

}

