:root {
  --color-main: #333333;
  --color-secondary: #2F80ED;
  --color-err: #EB5757;
  
  --color-white: #ffffffff;
  --color-lightest: #E0E0E0;
  --color-light: #BDBDBD;
  --color-middle: #828282;
  --color-dark: #4F4F4F;
  --color-darkest: #333333;

  --color-transparency: rgba(0, 0, 0, 0.05)
}

.c-main {color: var(--color-main);}
.c-secondary {color: var(--color-secondary);}
.c-err {color: var(--color-err);}

.c-white {color: var(--color-white);}
.c-lightest {color: var(--color-lightest);}
.c-light {color: var(--color-light);}
.c-middle {color: var(--color-middle);}
.c-dark {color: var(--color-dark);}
.c-darkest {color: var(--color-darkest);}

.c-transparency {color: var(--color-transparency);}