@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap');
@import 'root.css';
@import 'colors.css';
@import 'flex.css';
@import 'indent.css';
@import 'align.css';
@import 'size.css';
