* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: var(--color-darkest);
  overflow:  hidden;
} 

.page{
  display: flex;
}

.button-round {
  width: 30px;
  height: 30px;
  font-size: 20px;
  border-radius: 50%;  
  border: none;
}

.button-vertical {
  width: 10px;
  height: 30px;
  font-size: 20px;
  border: none;
}

.mark {
  background-color: var(--color-gray5);
}

.hide {
  display: none !important;
}
