.mw{
  position:fixed;
  top:0;right:0;
  bottom:0;
  left:0;
  background:rgba(0,0,0,0.5);
  z-index:1050;
  display:block;
  /* display:none; */
  margin:0;
  padding:0;
}

.mw-dialog{
  position:relative;
  width:auto;
  margin:10px;
  max-width:460px;
  margin:30px auto;
}

.mw-content{
  position:relative;
  display:flex;
  align-items: stretch;
  flex-direction:column;
  background-color:#fff;
  background-clip:padding-box;
  border:1px solid rgba(0,0,0,.2);
  border-radius:6px;
  outline:0;
}

.mw-header{
  display:block;
  padding:14px 14px 4px;
}

.mw-title{
  margin-top:0;
  margin-bottom:0;
  line-height:1.5;
  font-size:1.25rem;
  font-weight:500;
  border-bottom:1px solid #d4d4d4;
}

.mw_btn-close{
  padding:1px 5px 0;
  border:1px solid #000;
  border-radius:50%;
  font-family:sans-serif;
  font-size:24px;
  font-weight:700;
  line-height:1;
  color:#000;
  text-shadow:0 1px 0 #fff;
  opacity:.5;
  text-decoration:none;
  top:4px;
  right:4px;
  position:absolute;
}

.mw_btn-close:focus,.mw_btn-close:hover{
  color:#000;
  text-decoration:none;
  cursor:pointer;
  opacity:.75;
}

.mw-body{
  position:relative;
  flex:1 1 auto;
  padding:15px;
  overflow:auto;
}