.button-main {
  width: 70%;
  background-color: var(--color-blue1);
  height: 20px;
  border-radius: 5px;
  border: none;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;

  color: var(--color-white);
}