.message {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 50%;
}

.message_content {
  background-color: var(--color-lightest);
  padding: 10px;
  border-radius: 20px 20px 0px 20px;
}

.message_date {
  color: var(--color-ligh);
  font-size: 12px;
  padding: 0 0 0 15px;
}
