.search-user-item {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-left: 0;
  padding-left: 0;  
}

.search-user-item:hover {
  background: var(--color-lightest);
}

.search-user-item_avatar {
  width: 30px;
  height: 30px;
  min-width: 30px;
  padding: 5px;
}
