.input {
  width: 100%;
}
  
.input__label {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  width: 100%;
}

.input-main__input {
  font-style: normal;
  font-weight: normal;
  outline: none;
  border: none;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 1px;
}

.input-main_border {
  border-bottom: 1px solid var(--color-secondary);
}

.input-err_border {
  border-bottom: 1px solid var(--color-err);
}

.input-secondary {
  background-color: var(--color-lightest);
  border-radius: 5px;
}
